* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; 
}

#bilix-logo { 
    position: absolute; 
    top: 0; 
    left: 0;
    width: 100%; 
    height: 90px;
    z-index: 1000; 
    display: flex; 
    align-items: center; 
    justify-content: flex-start; 
    padding: 0 40px;
    background-color: transparent; 
}
#bilix-logo img { 
    height: 110px; 
    width: auto; 
    display: block; 
    object-fit: contain; 
}

main.main-container {
    background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../html/social/Gemini_Generated_Image_n26t8gn26t8gn26t.png') no-repeat center center fixed;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    font-family: Roboto, sans-serif;}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    display: flex;
    max-width: 700px;
    width: 100%;
    text-align: center;
    padding: 30px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 30px;
    background: rgba(89, 89, 89, 0.7); 
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.form-section h4 {
    color: #e85111;
}
.form-section p {
    font-size: 16px;
    color: #ffffff;
    text-align: center;
}

input[type="email"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 50px;
    border: 1px solid #545454;
    font-size: 14px;
}

button {
    width: 350px;
    padding: 12px;
    background:  #313a6e; 

    color: rgb(255, 255, 255); 
    border: none;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #e85111;}

.links {
    text-align: center;
    margin-top: 20px;
}

.links a {
    color: #e85111;
    text-decoration: none;
    font-size: 14px;
}

.links a:hover {
    text-decoration: underline;
}
@media (max-width: 600px) {
.login-wrapper, .main-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh; 
    }

    .login-card, .card {
        width: 90% !important;
        max-width: none;
        padding: 20px;
        margin: 0 auto;
    }
    #btn_Login, #btnResetPassword, .btn {
        width: 100% !important;
    } }