#bilix-logo img {
   width: 200px;
    height: 100px;
    position: absolute;
    left: -10px;
    top: -10px;
}
.fp_bg_img {background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../html/social/Gemini_Generated_Image_n26t8gn26t8gn26t.png') no-repeat center center fixed;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    font-family: Roboto, sans-serif;}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.card {
    display: flex;
    max-width: 700px;
    width: 100%;
    text-align: center;
    padding: 30px;
    align-items: center;
    background-color: #383838;
    box-shadow: 0 0 50px rgba(21, 21, 21, 0.2);
    border-radius: 30px;
    flex-direction: column;
    justify-content: center;
    opacity: 0.8;
}

.form-section h4 {
    color: #e85111;
}
.form-section p {
    font-size: 16px;
    color: #ffffff;
    text-align: center;
}

input[type="email"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 50px;
    border: 1px solid #545454;
    font-size: 14px;
}

button {
    width: 350px;
    padding: 12px;
    background: linear-gradient(30deg, #393939, #313a6e, #010d52); 

    color: rgb(255, 255, 255); 
    border: none;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #e85111;}

.links {
    text-align: center;
    margin-top: 20px;
}

.links a {
    color: #e85111;
    text-decoration: none;
    font-size: 14px;
}

.links a:hover {
    text-decoration: underline;
}