* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    
}
.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: #313a6e;
    border-radius: 10px;
    text-align: center;
}

h3 {
    color: #e85111;
    margin-bottom: 10px;
}

p {
    color: white;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 12px;
    border-radius: 50px;
    border: 1px solid #545454;
    margin-bottom: 15px;
}

button {
    width: 100%;
    padding: 12px;
    border-radius: 50px;
    border: none;
    background: #313a6e;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #e85111;
}

#msg {
    margin-top: 10px;
    color: rgb(255, 11, 11);
}